.card {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, .125)
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .4);
    transition: all .2s ease-out;
}

.cardbody {
    padding: 20px;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bento-card {
    margin: 10px;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.react-bento-grid {
    margin: 20px;
}

.grid-item,
.filler {
    background-color: lightgrey;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filler {
    background-color: darkgrey;
}

.item {
    background-color: lightblue;
}